<MudSimpleTable 
    id="@Id"
    Class="@Class"
    Dense="true" 
    Bordered="true" 
    Striped="true" 
    FixedHeader="true" 
    Outlined="true" 
    Style="height:50vh">
    <tbody>
        @foreach (var line in _lines)
        {
            <tr @key="@line.Value.Id">
                <td style="vertical-align: top">
                    @(line.Value.Number > 0 ? line.Value.Number.ToString() : "")
                </td>
                <td>
                    <code style="white-space:pre;">
                        @line.Value.Output
                    </code>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>