@using Connr.Process
@using DotNetstat
@using Line = DotNetstat.Line
@if (IsVisible)
{
    var showKillProcess = ProcessState.IsRunning();

    <MudTable
        CustomHeader="true"
        Items=_relatedPorts
        Class="@Class"
        Dense="true"
        Bordered="true"
        Striped="true"
        FixedHeader="true"
        Outlined="true"
        Height="190px">
        <HeaderContent>
            <MudTHeadRow>
                @if (showKillProcess)
                {
                    <MudTh/>
                }
                <MudTh colspan="6">
                    <div class="d-flex justify-space-between align-center">
                        <MudText Typo="Typo.h6">
                            Related Ports: @((_relatedPorts?.Count ?? 0).ToString())
                        </MudText>
                        <div>
                            @if (ProcessState.IsRunning())
                            {
                                <MudTooltip Text="Refresh Related Ports">
                                    <MudIconButton
                                        Color="Color.Info"
                                        Icon="@Icons.Material.Filled.Refresh"
                                        OnClick="ShowRelatedPorts"/>
                                </MudTooltip>
                            }
                            <MudTooltip Text="Hide Related Ports">
                                <MudIconButton
                                    Color="Color.Default"
                                    Icon="@Icons.Material.Filled.Close"
                                    OnClick="Hide"/>
                            </MudTooltip>
                        </div>
                    </div>
                </MudTh>
            </MudTHeadRow>
            <MudTHeadRow>
                @if (showKillProcess)
                {
                    <MudTh/>
                }
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Line, object>(x => x.ProcessId)">
                        Process
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Line, object>(x => x.LocalPort)">
                        Port
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Line, object>(x => x.LocalAddress)">
                        Process
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Line, object>(x => x.Protocol)">
                        Protocol
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Line, object>(x => x.State)">
                        State
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Line, object>(x => x.ModuleName)">
                        Module
                    </MudTableSortLabel>
                </MudTh>
            </MudTHeadRow>
        </HeaderContent>
        <RowTemplate>
            @if (showKillProcess)
            {
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.StopCircle" Color="Color.Warning"
                                   OnClick="() => KillProcess(context.ProcessId)"
                                   Variant="Variant.Filled"/>
                </MudTd>
            }
            <MudTd>
                @context.ProcessId.ToString()
            </MudTd>
            <MudTd>
                @context.LocalPort.ToString()
            </MudTd>
            <MudTd>
                @context.LocalAddress
            </MudTd>
            <MudTd>
                @context.Protocol
            </MudTd>
            <MudTd>
                @context.State
            </MudTd>
            <MudTd>
                @context.ModuleName
            </MudTd>
        </RowTemplate>
    </MudTable>
}